!PANEL_SHADOW(A, BBB) {{
x {
    $A
    $A
    $A
    $(XXX + $A $BBB)
    [$XXX]
}
}}

$PANEL_SHADOW(323,    43     )

button {
    border-radius: 16px;
    border-corner-shape: bevel;
    border-width: 2px;
    border-color: UI_ACCENT_CLR;
    background-color: UI_LBL_BG_CLR;
    color: UI_PRIM_CLR;
//    space: 1s;
    child-space: 1s;
    outer-shadow: 4px 4px 7px UI_PRIM_CLR;
}

button:hover {
    border-color: UI_HLIGHT_CLR;
    color: UI_HLIGHT_CLR;
    outer-shadow: 4px 4px 7px UI_SELECT_CLR;
}

button:active {
    border-color: UI_SELECT_CLR;
    outer-shadow: 0px 0px 10px UI_SELECT_CLR;
}

button.node_btn {
    width: 80px;
    border-radius: 10px;
    font-size: 14px;
    outer-shadow: 2px 2px 4px UI_PRIM_CLR;
}

.ui_category_tab_cont {
    row-between: 5px;
    col-between: 5px;
    child-space: 5px;
}

label {
}

row {
}

popup.hex-knob-popup {
    $FLOAT_PANEL()

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    child-space: 0.1s;
    color: UI_PRIM_CLR;

    width: 140px;
    height: 100px;
}

label.hex-knob-popup {
    font-size: 12px;
    child-top: 1s;
    child-bottom: 1s;
}

textbox.hex-knob-popup {
    font-size: 12px;
    border-color: UI_ACCENT_CLR;
    border-corner-shape: bevel;
    border-radius: 8px;
    border-width: 2px;
}


column {
}

textbox {
    background-color: UI_LBL_BG_CLR;
    color: UI_PRIM_CLR;
    child-space: 1s;
}

hex-knob {
}

pattern-editor {
//    left: 1s;
//    right: 1s;
}

row.headbar {
    height: 100px;
}

//tab_manager {
//    width: 1s;
//}

tab_bar {
//    background-color: #202020;
    height: 30px;
    layout-type: row;
}

tab_manager.ui_category_tab_view {
    position: self-directed;
    top: 1s;
    height: 150px;
    width: 305px;
}

tab_manager.ui_category_tab_view > tab_container {
    width: 305px;
    height: 120px;
}


tab_container {
    $PANEL()
}

tab_bar>.tabx {
    font-size: 14px;
    width: 50px;
    height: 30px;
}

tab_bar>.tab {
    border-width: 1px;
    border-color: UI_ACCENT_CLR;
    border-corner-shape: bevel;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    color: UI_PRIM2_CLR;

    background-color: UI_LBL_BG_CLR;

    right: 1px;

    child-space: 1s;
}

tab_bar>.tab:hover {
    border-color: UI_HLIGHT_CLR;
    color: UI_PRIM_CLR;
    /* background-color: red; */
}

tab_bar>.tab:checked {
    border-width: 2px;
    bottom: 0px;
    background-color: UI_LBL_BG_CLR;
    border-color: UI_SELECT_CLR;
    color: UI_PRIM_CLR;
    /* background-color: red; */
}

hex-grid {
}
//
//.knob_panel {
//    background-color: UI_BG_CLR;
//    border-width: 2px;
//    border-color: UI_BORDER_CLR;
//    top: 1s;
//    height: 400px;
//    width: 400px;
//    child-space: 40px;
//}
//
//.knob_panel hex-knob {
////    height: 100px;
//    width: 80px;
//}

!FLOAT_PANEL() {{
    border-width:        2px;
    border-color:        UI_BORDER_CLR;
    border-corner-shape: bevel;
    border-radius:       8px;

    background-color:    UI_BG_CLR;
    outer-shadow:        0px 0px 14px UI_PRIM_CLR;
}}

!PANEL() {{
    border-width: 2px;
    border-color: UI_ACCENT_CLR;
    background-color: UI_BG_CLR;
}}

!MARGIN(WIDTH) {{
    top:         $WIDTH;
    bottom:      $WIDTH;
    left:        $WIDTH;
    right:       $WIDTH;
}}

popup.setting_popup {
    z-order: 100;
    width:   120px;
    height:  auto;

    $FLOAT_PANEL()
}

column.setting_popup {
    height:      auto;
    width:       100px;
    row-between: 7px;

    $MARGIN(10px)
}

.setting_popup_btn {
    border-radius: 8px;
    font-size:     13px;
    height:        20px;
    width:         1s;
}

.popup_setting_btn_prev {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 40px;
}
.popup_setting_btn {
    border-radius: 0px;
    width: 100px;
    outer-shadow: 4px 4px 9px UI_PRIM_CLR;
}
.popup_setting_btn_next {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 40px;
}

octave-keys {
    top: 10px;
    bottom:10px;
    height: 100px;
    width: 200px;
}

.node_params {
    position:   self-directed;
    top:        1s;
    left:       305px;
    height:     225px;
    width:      595px;
    z-index:    10;

    $PANEL()
}

!PARAMS_LABEL() {{
    height:       18px;
    font-size:    14px;
    font:         "font_serif";
    text-align:   center;

    left: 2px;
    right: 2px;
    child-space:  1s;

    background-color: UI_LBL_BG_CLR;
    color:            UI_PRIM_CLR;
}}

.node_params_label {
    $PARAMS_LABEL()
}

.node_params_knob {
    $MARGIN(2px)
    width:  1s;
    height: 1s;
}

.node_settings {
    position:   self-directed;
    top:    0;
    left:   1s;
    width:  200px;
    height: auto;

    $PANEL()
}

.node_settings_col {
    height: 60px;
    top:    2px;
    left:   5px;
    right:  5px;
}

.node_settings_label {
    $PARAMS_LABEL()
    top: 8px;
}

connector {
}

.con_panel {
    $PANEL()
    child-space: 0.1s;
    z-index: 12;
}

.connect_popup {
    position: self-directed;
    width:  280px;
    height: 400px;
    z-index: 13;

    $FLOAT_PANEL()

    background-color: UI_LBL_BG_CLR;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

label.port_connector {
    background-color: UI_LBL_BG_CLR;
    color: UI_PRIM_CLR;
    child-space: 1s;
    height: 30px;
}

connector.port_connector {
    bottom: 5px;
}
