button {
    border-radius: 16px;
    border-corner-shape: bevel;
    border-width: 2px;
    border-color: UI_ACCENT_CLR;
    background-color: UI_LBL_BG_CLR;
    color: UI_PRIM_CLR;
    space: 1s;
    child-space: 1s;
    outer-shadow: 4px 4px 7px UI_PRIM_CLR;
}

button:hover {
    border-color: UI_HLIGHT_CLR;
    color: UI_HLIGHT_CLR;
    outer-shadow: 4px 4px 7px UI_SELECT_CLR;
}

button:active {
    border-color: UI_SELECT_CLR;
    outer-shadow: 0px 0px 10px UI_SELECT_CLR;
}

label {
}

row {
    height: 0.3s;
}

popup {
    border-width: 2px;
    border-color: UI_BORDER_CLR;
    border-corner-shape: bevel;
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    child-space: 0.1s;
    background-color: UI_BG_CLR;
    color: UI_PRIM_CLR;
    outer-shadow: 0px 0px 14px UI_PRIM_CLR;
}

column {
//    background-color: #FFFFFF;
//    border-radius: 1px;
//    border-color: #FFF;
//    child-space: 2px;
//    inner-shadow-color: #F0F;
//    color: #000;
    row-between: 3px;
    space: 0.1s;
}

textbox {
    background-color: UI_LBL_BG_CLR;
    color: UI_PRIM_CLR;
    child-space: 1s;
}

textbox {
    border-color: UI_ACCENT_CLR;
    border-corner-shape: bevel;
    border-radius: 16px;
    border-width: 2px;
}

hexknob {
    space: 1s;
}
